form{
    margin: 40px 0;
}


legend{
    font-size: 25px;
    color: #c7b691;
    margin: 10px 0 30px 0;
    text-align: center;
}
form label {
    color: #c7b691;
    display: block;
    font-size: 20px;
    margin: 0 0 20px 0;
}

table{
    margin: 40px auto;
    background-color: #320000;
}

thead {
    background-color: #320000;
    color: #c7b691;
}

td, th{
    border: 1px solid #808080;
    color: #e2d3d3;
    padding: 8px 15px;
}

.input-padron {
    background-color: #c7b691;
    display: block;
    margin: 0 0 20px 0;
    padding: 10px 25px;
    width: 50%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.mainForm{
    width: 940px;
    margin: 0 auto;
}

.sectionForm{
    background-color: rgb(19, 18, 18);
    margin: 0 0 10px 0;
    border: 1px solid #c7b691;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    padding: 15px 10px 15px 15px;
}

.checkbox {
    margin: 20px 5px;
    
}

.labelCheckbox {
    color: rgb(204, 204, 31);
}

.botonContainer {
    text-align: center;
}

.botonEnviar {
    cursor: pointer;
    padding: 8px 12px;
    font-size: 18px;
    background-color: rgb(19, 18, 18);
    border: 2px solid rgb(204, 204, 31);
    color: rgb(204, 204, 31);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 1s all;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -ms-transition: 1s all;
    -o-transition: 1s all;
}

.botonEnviar:hover{
    border: 2px solid #c7b691;
    color:#c7b691;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.tableContainer {
    background-color: rgb(19, 18, 18);
    padding: 10px 0;
    margin: 80px auto;
    width: 60%;
    border: 2px solid #c7b691;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.tableContainer h3 {
    color:#c7b691;
    text-align: center;
    font-size: 25px;
}